.newListButton {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background-color: #44c5e4;
    color: #fff;
    padding: 12px 56px;
    text-decoration: none;
    font-size: 100%;
}

ul {
    padding: 0;
}

li {
    margin: 1px 0;
}

a {
    text-decoration: none;
}